<html>

<head>
    <title>Document</title>

</head>

<body>
    <form action="/register" method="post">

        username:<input type="text" name="username" required><br><br>
        email:<input type="email" name="email" required><br><br>
        contact:<input type="text" name="contact" required><br><br>
        password:<input type="password" name="password" required><br><br>
        <button>Submit</button>
    </form>

</body>

</html>